@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.trending {
    @include flex-column;
    gap: $mobile-gap-default;

    &__channel {
        @include mobile-padding-background-cmp;
        @include flex-column;
        gap: $mobile-gap-default-cmp;
        text-align: center;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }

        &-ctn {
            @include tablet {
                @include flex-vertical;
                gap: $mobile-gap-default-cmp;
            }

            &-emblem {
                @include tablet {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 1.15rem;
                    background-color: $prim-color-3;
                }
            }

            &-content {
                @include flex-column;
                gap: 0.25rem;

                &-text {
                    color: $sec-color-2;
                }
            }
        }

        &-images {
            @include flex-vertical;
            justify-content: space-around;

            @include tablet {
                @include bright-mobile-padding-background;
                gap: $mobile-gap-default;
            }

            &-ctn {
                &-indv {
                    @include svg-size;
                    @include svg-white;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
