@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
    @include bright-mobile-padding-background;
    @include flex;
    gap: $mobile-gap-default;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &__img {
        @include svg-size;
        @include svg-white;
    }

    &__text {
        flex-shrink: 0;
    }
}
