@use "./fonts";
@use "./reset";
@use "./mixins" as *;
@use "./variables" as *;

html {
    background-color: $prim-color-1;

    @include tablet {
        max-width: 52.5rem;
        margin: auto;
    }

    @include desktop {
        max-width: 92.25rem;
        margin: auto;
    }
}
