// media queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$prim-color-1: #06141d;
$prim-color-2: #1B2730;
$prim-color-3: #28343E;

$sec-color-1: #FFF;
$sec-color-2: #63717E;
$sec-color-3: #1D87C8;
