@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.interface {
    @include flex-column;
    gap: $mobile-gap-default;

    &__mobile {
        @include flex-column;
        gap: $mobile-gap-default;

        @include desktop {
            display: none;
        }

        &-explore {
            @include mobile-padding-background;
            @include flex-vertical;
            min-height: 3.25rem;

            &-input {
                padding-left: 1rem;
                background-color: $prim-color-2;
                border: none;
                outline: none;
                width: 100%;
            }
        }
    }

    &__desktop {
        display: flex;
        gap: $mobile-gap-default;

        &-left {
            display: none;

            @include desktop {
                display: block;
                @include flex-column;
                gap: $mobile-gap-default;
                flex: 1 1 0;
                height: 96.75vh;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                &-explore {
                    @include mobile-padding-background;
                    @include flex-vertical;
                    min-height: 3.25rem;

                    &-input {
                        padding-left: 1rem;
                        background-color: $prim-color-2;
                        border: none;
                        outline: none;
                        width: 100%;
                    }
                }
            }
        }

        &-main {
            width: 100%;

            @include desktop {
                flex: 2.25 1 0;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        &-right {
            display: none;

            @include desktop {
                display: block;
                @include flex-column;
                gap: $mobile-gap-default;
                flex: 1 1 0;
                height: 96.75vh;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}
