@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
    @include mobile-padding-background-cmp;
    display: flex;
    gap: $mobile-gap-default-cmp;

    &__profile {
        display: none;

        @include tablet {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 0.5px solid $sec-color-1;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    &__info {
        @include flex-column;
        gap: $mobile-gap-default-cmp;

        &-ctn {
            display: flex;
            justify-content: space-between;
            text-decoration: none;

            &-name {
                @include flex-vertical;
                gap: $mobile-gap-default;

                &-img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    border: 0.5px solid $sec-color-1;

                    @include tablet {
                        display: none;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }

                &-indv {
                    @include flex-column;
                    gap: 0.15rem;

                    &-username {
                        color: $sec-color-2;
                    }
                }
            }

            &-img {
                @include svg-size;
                @include svg-white;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-content {
            @include flex-column;
            gap: $mobile-gap-default;

            &-amount {
                color: $sec-color-2;

                @include tablet {
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-share {
            @include flex-vertical;
            gap: $mobile-gap-default;

            @include tablet {
                justify-content: space-between;
            }

            &-buttons {
                @include flex-vertical;
                gap: $mobile-gap-default;
            }

            &-amount {
                display: none;

                @include tablet {
                    display: block;
                    cursor: pointer;
                    color: $sec-color-2;
                }
            }
        }
    }
}
