@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mobile {
    display: flex;
    max-height: 3.5rem;
    justify-content: space-between;

    &__menu {
        @include flex;
        @include mobile-padding-background;

        &-svg {
            @include svg-white;
            @include svg-size;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    &__nav {
        @include flex;
        @include mobile-padding-background;
        gap: $mobile-gap-default;

        &-watch,
        &-docx,
        &-more {
            @include svg-white;
            @include svg-size;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    &__profile {
        @include flex;
        @include mobile-padding-background;
        gap: $mobile-gap-default;

        &-img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 0.5px solid $sec-color-1;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        &-name {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }
}
