@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.events {
    @include flex-column;
    gap: $mobile-gap-default;

    &__buttons {
        @include flex-vertical;
        gap: $mobile-gap-default;
    }

    &__information {
        @include flex-column;
        gap: $mobile-gap-default;
    }
}
