@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hubs-element {
    @include flex-vertical;
    justify-content: space-between;

    &__ctn {
        @include flex-vertical;
        gap: $mobile-gap-default;
        text-decoration: none;

        &-img {
            width: 3.5rem;
            height: 3.5rem;
            background-color: $prim-color-3;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        &-name {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__img {
        @include svg-size;
        @include svg-white;

        &:hover {
            cursor: pointer;
        }
    }
}
