@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details {
    @include mobile-padding-background;
    @include flex-vertical;
    padding: 0 1.75rem;
    min-height: 3.5rem;
    justify-content: space-between;

    &:hover {
        cursor: pointer;
        transform: scale(1.025);
    }

    &__header {
        flex: 1.25 1 0;
    }

    &__info {
        @include flex-vertical;
        gap: $mobile-gap-default;
        flex: 1 1 0;

        &-img {
            width: 1rem;
            height: 1rem;
            @include svg-white;
        }
    }

    &__date {
        display: none;
        flex: 1 1 0;

        @include tablet {
            display: block;
        }

        @include desktop {
            display: none;
        }
    }

    &__img {
        display: none;
        flex: 0.5 1 0;

        @include tablet {
            display: block;
            @include svg-size;
            @include svg-white;
        }
    }

    &__more {
        @include svg-size;
        @include svg-white;
        flex: 0.15 1 0;
    }
}
