@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button-dark {
    @include mobile-padding-background;
    @include flex;
    gap: $mobile-gap-default;
    max-height: 2.75rem;
    width: 100%;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &__img {
        @include svg-size;
        @include svg-white;
    }
}
