@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-comment {
    @include mobile-padding-background-cmp;
    display: flex;
    gap: $mobile-gap-default-cmp;

    &__indv {
        @include flex-vertical;

        &-img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 0.5px solid $sec-color-1;
        }
    }
}
