@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-comment {
    @include mobile-padding-background-cmp;
    display: flex;
    gap: $mobile-gap-default-cmp;

    &__indv {
        display: none;

        @include tablet {
            @include flex-vertical;

            &-img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                border: 0.5px solid $sec-color-1;
            }
        }
    }

    &__button {
        @include bright-mobile-padding-background;
        @include flex;
        gap: $mobile-gap-default;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &-img {
            @include svg-size;
            @include svg-white;
        }

        &-text {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }
}
