@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.friends {
    @include mobile-padding-background-cmp;
    @include flex-column;
    gap: $mobile-gap-default;

    &__list {
        @include flex-column;
        gap: $mobile-gap-default;
    }

    &__more {
        font-size: 0.8125rem;
        text-decoration: none;
        font-weight: 700;
        color: $sec-color-3;
    }
}
