@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
    @include mobile-padding-background-cmp;
    display: flex;
    gap: $mobile-gap-default-cmp;

    &__profile {
        display: none;

        @include tablet {
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            border: 0.5px solid $sec-color-1;
            object-fit: cover;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    &__info {
        @include flex-column;
        gap: $mobile-gap-default-cmp;

        &-ctn {
            display: flex;
            justify-content: space-between;

            &-img {
                object-fit: cover;

                &:hover {
                    cursor: pointer;
                }
            }

            &-name {
                @include flex-vertical;
                gap: $mobile-gap-default;

                &:hover {
                    cursor: pointer;
                }

                &-img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    border: 0.5px solid $sec-color-1;
                    object-fit: cover;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }

                &-indv {
                    @include flex-column;
                    gap: 0.15rem;

                    &-username {
                        color: $sec-color-2;
                    }
                }
            }

            &-img {
                @include svg-size;
                @include svg-white;
            }
        }

        &-share {
            @include flex-vertical;
            gap: $mobile-gap-default;

            &-buttons {
                @include flex-vertical;
                gap: $mobile-gap-default;
            }

            &-amount {
                display: none;
                color: $sec-color-2;
            }
        }
    }
}
