@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
    @include flex-column;
    gap: $mobile-gap-default;

    &__explore {
        @include mobile-padding-background;
        @include flex-vertical;
        min-height: 3.25rem;

        &-input {
            padding-left: 1rem;
            background-color: $prim-color-2;
            border: none;
            outline: none;
        }
    }

    &__channel {
        @include mobile-padding-background-cmp;
        @include flex-column;
        gap: $mobile-gap-default-cmp;
        text-align: center;

        &-content {
            @include flex-column;
            gap: 0.25rem;

            &-text {
                color: $sec-color-2;
            }
        }

        &-images {
            @include flex-vertical;
            justify-content: space-around;

            &-ctn {
                &-indv {
                    @include svg-size;
                    @include svg-white;
                }
            }
        }
    }

    &__share {
        @include mobile-padding-background-cmp;
        display: flex;
        gap: $mobile-gap-default-cmp;
        flex: 1 1 0;

        &-img {
            display: none;

            @include tablet {
                display: block;
                width: 3.25rem;
                height: 3.25rem;
                border-radius: 50%;
                border: 0.5px solid $sec-color-1;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }

        &-ctn {
            @include flex-column;
            gap: $mobile-gap-default-cmp;
            flex: 1 1 0;

            &-images {
                @include flex-vertical;
                justify-content: space-between;

                &-indv {
                    @include bright-mobile-padding-background;
                    @include flex;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }

                    &-icon {
                        @include svg-size;
                        @include svg-white;
                    }
                }
            }
        }
    }
}
